# Ecplipse  -----
.metadata/
.cproject
.project
.settings
# Ecplipse =====

# Linux's backup files
*~

.DS_Store
# build
build/
bin/


# cmake
Makefile
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
lib/CMakeFiles/
lib/CTestTestfile.cmake
lib/Makefile
lib/cmake_install.cmake
lib/foo/CMakeFiles/
lib/foo/CTestTestfile.cmake
lib/foo/Makefile
lib/foo/cmake_install.cmake
lib/libfoo.a
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile
test/cmake_install.cmake
test/gmock/
test/gtest/
3DRender_project.build/
3DRender_project.xcodeproj/
CMakeScripts/
lib/foo/3DRender_project.build/
lib/foo/CMakeScripts/
lib/foo/foo.xcodeproj/
src/3DRender.xcodeproj/
src/3DRender_project.build/
src/CMakeScripts/
test/3DRender_project.build/
test/CMakeScripts/
